.div-selecting-teams {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  option {
    text-align: center;
  }
  button {
    margin: 10px 0;
    width: 100%;
    background-color: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  .single-select-div {
    text-align: center;
    select {
      width: 200px;
    }
  }
}
