.div-header {
  height: 12vh;
  background-color: #313131;
  color: #fff;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }
  img {
    width: 60px;
  }
}
